h1 {font-size: 36px;}
p, ul, ol {font-size: 18px;}
p {
 text-indent: 1em;
 text-align: justify;
 margin-bottom: 0;
 margin-top: 0;
}
dt {
 margin-top: 5px;
}
dd {
 margin-bottom: 5px;
}
td {
 vertical-align: top;
}
pre, dt, dd {font-size: 16px;}
